<div class="login-component row justify-content-center align-items-center animated zoomIn">
  <div class="col-6">
    <mat-card>

      <mat-form-field appearance="fill" class="mb-3 animated bounceInLeft" color="accent">
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="pat@example.com" [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" color="accent" class="animated bounceInRight">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hidePassword ? 'password' : 'text'">
        <button mat-icon-button matSuffix
                (click)="hidePassword = !hidePassword"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hidePassword">
          <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <div class="row animated bounceInUp">
        <div class="col-12 text-right">
          <button mat-raised-button color="accent">Login</button>
        </div>
      </div>

    </mat-card>
  </div>
</div>
