<div class="header row align-items-center">

    <div class="col-2">
      <button mat-icon-button color="accent">
        <mat-icon class="home-icon">home</mat-icon>
      </button>
    </div>

    <div *ngIf="authService.authUser" class="col-10 logout-icon text-right">
      <button mat-mini-fab color="accent" (click)="authService.logout()">
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </div>

</div>
<mat-progress-bar mode="indeterminate" color="warn"></mat-progress-bar>

<router-outlet></router-outlet>
